[Desktop Entry]
Version=1.0
Type=Application
Name=COPSolver
GenericName=COPSolver
Comment=Combinatorial Optimization Problems Solver
Exec=io.elementary.terminal -e COPSolver%F
Icon=utilities-terminal
Terminal=false
Categories=Application;ComputerScience;Math;Engineering;
StartupNotify=true
